.placedTile {
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    touch-action: none;
    transition: opacity 0.2s;
    font-weight: bold;
    position: absolute;
    padding: 0px;
    font-size: 0.8rem;
    line-height: 1.1;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
  }
  
  .locked {
    background-color: green;
    color: #fff;
    cursor: default;
  }
  