.tile {
    width: 80px;
    height: 80px;
    background-color: #d4d6da;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: grab;
    user-select: none;
    /* If you want to ensure no scrolling on mobile while dragging, 
       you can set `touch-action: none;` on the tile or the handle. */
    touch-action: none;
    transition: opacity 0.2s;
    font-weight: bold;
    padding: 0px;
    font-size: 0.7rem;
    line-height: 1.1;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: hidden;
  }
  